@font-face {
  font-family: "Neo Sans Arabic";
  font-display: swap;
  src: url(../fonts/NeoSansArabic.woff);
}
:root {
  --pc-sidebar-active-color: var(--bs-primary);
  --bs-blue: #16433c;
  --bs-primary: #125162;
  --bs-primary-rgb: 18, 81, 98;
  --bs-success: #36b19cb2;
  --bs-success-rgb: 14, 146, 113;
  --bs-primary-light: #36b19cb2;
  --bs-link-color: #36b19cb2;
  --bs-link-color-rgb: 18, 81, 98;
  --bs-link-hover-color: #017c64;
  --bs-link-hover-color-rgb: to-rgb(shift-color($pc-primary, $link-shade-percentage));
  --dt-row-selected: 18, 81, 98;
  --bs-font-sans-serif: "Neo Sans Arabic", sans-serif;
}

.pc-sidebar .pc-link {
  text-transform: capitalize;
}
.pc-sidebar .pc-micon {
  margin-right: 8px;
}
.pc-sidebar .pc-micon i {
  font-size: 16px;
}
.pc-sidebar .pc-arrow i {
  font-size: 12px;
}
.pc-sidebar .card.pc-user-card .pc-user-links {
  gap: 8px;
}
.pc-sidebar .card.pc-user-card .pc-user-links i {
  font-size: 20px;
}
.pc-sidebar .b-brand {
  padding: 4px;
}
.pc-sidebar .b-brand img {
  height: 40px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.dataTableTable .image {
  width: 100px;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.f-6 {
  font-size: 6px !important;
}

.f-8 {
  font-size: 8px !important;
}

.f-10 {
  font-size: 10px !important;
}

.f-12 {
  font-size: 12px !important;
}

.f-14 {
  font-size: 14px !important;
}

.f-16 {
  font-size: 16px !important;
}

.f-18 {
  font-size: 18px !important;
}

.f-20 {
  font-size: 20px !important;
}

.f-22 {
  font-size: 22px !important;
}

.f-24 {
  font-size: 24px !important;
}

.f-26 {
  font-size: 26px !important;
}

.f-28 {
  font-size: 28px !important;
}

.f-30 {
  font-size: 30px !important;
}

.f-32 {
  font-size: 32px !important;
}

.f-34 {
  font-size: 34px !important;
}

.f-36 {
  font-size: 36px !important;
}

.f-38 {
  font-size: 38px !important;
}

.f-40 {
  font-size: 40px !important;
}

.f-42 {
  font-size: 42px !important;
}

.f-44 {
  font-size: 44px !important;
}

.f-46 {
  font-size: 46px !important;
}

.f-48 {
  font-size: 48px !important;
}

.f-50 {
  font-size: 50px !important;
}

.f-52 {
  font-size: 52px !important;
}

.f-54 {
  font-size: 54px !important;
}

.f-56 {
  font-size: 56px !important;
}

.f-58 {
  font-size: 58px !important;
}

.f-60 {
  font-size: 60px !important;
}

.f-62 {
  font-size: 62px !important;
}

.f-64 {
  font-size: 64px !important;
}

.f-66 {
  font-size: 66px !important;
}

.f-68 {
  font-size: 68px !important;
}

.f-70 {
  font-size: 70px !important;
}

.f-72 {
  font-size: 72px !important;
}

.f-74 {
  font-size: 74px !important;
}

.f-76 {
  font-size: 76px !important;
}

.f-78 {
  font-size: 78px !important;
}

.f-80 {
  font-size: 80px !important;
}

.statusImage {
  width: 40px;
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
}

.auth-main.v2 .auth-form .card {
  min-height: unset;
}
.auth-main.v2 .auth-form .card .card-body {
  padding: 40px 24px;
}
.auth-main.v2 .auth-form .card .logo {
  padding: 4px;
  margin-bottom: 8px;
}
.auth-main.v2 .auth-form .card .logo img {
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

[data-pc-direction=rtl] .pc-sidebar .pc-arrow {
  transform: rotate(180deg);
}

.apexcharts-canvas * {
  font-family: "Neo Sans Arabic", sans-serif !important;
}

.btn-success {
  --bs-btn-bg: #0e9271;
  --bs-btn-border-color: #0e9271;
  --bs-btn-hover-bg: #03644c;
  --bs-btn-hover-border-color: #17ba92;
  --bs-btn-focus-shadow-rgb: 63, 236, 193;
  --bs-btn-active-bg: #17ba92;
  --bs-btn-active-border-color: #16af89;
  --bs-btn-disabled-bg: #0e9271;
  --bs-btn-disabled-border-color: #0e9271;
  --pc-header-color: #39465f;
}

.card {
  background-color: #fff;
  border: none;
  box-shadow: none;
}

.bg_color {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Edit {
  color: #017c64;
  font-size: 16px;
}

.info {
  text-align: center;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Card_btn {
  width: 100%;
  background-color: #17ba92;
  color: #e2fff9;
  border: 1px solid #17ba92;
  border-radius: 8px;
  padding: 10px 25px;
}

.primary {
  background-color: var(--bs-primary);
}

.content_Vsits .forms_container {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
  padding: 15px;
  margin-top: 10px;
  width: 100%;
}

.page-header-title_visits {
  background-color: #cdebf9;
  padding: 8px 4px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 14px;
}
.page-header-title_visits h2 {
  font-size: 15px;
  padding: 0;
  margin: 0;
}

form {
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.form_group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form_group label {
  font-size: 15px;
  color: #c0bfbf;
}
.form_group input {
  padding: 10px 20px;
  border: 1px solid #eee;
  border-radius: 4px;
}

.form_select_group {
  width: 33%;
}
.form_select_group .form-select {
  padding: 8px;
  border: 1px solid #eee;
  color: #c0bfbf;
}

.form_select {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.Form_system {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.check_group .type {
  color: #777;
}

.form-label {
  margin-bottom: 5px;
  color: #777;
}

.check_group_inputs {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  border-bottom: 1px solid #eee;
  padding: 15px;
}

.search_btn {
  border: 1px solid #17ba92;
  padding: 8px 18px;
  background-color: #fff;
  font-size: 12px;
  color: #17ba92;
  border-radius: 7px;
  margin: 10px;
}

.send_btn {
  background-color: rgb(215, 158, 13);
  border: 1px solid rgb(215, 158, 13);
  color: #fff;
  padding: 8px 15px;
  border-radius: 8px;
  float: left;
}

.Tabel_container {
  padding: 25px;
  overflow-y: hidden;
}

table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}
table td,
table th {
  border-top: 1px solid #ecf0f1;
  padding: 10px;
  font-size: 14px;
}
table .Empty_td {
  padding: 14px;
  font-size: 15px;
  font-weight: 500px;
  text-align: center;
}
table td {
  border-left: 1px solid #ecf0f1;
  border-right: 1px solid #ecf0f1;
}
table th {
  background-color: #cdebf9;
  font-size: 14px;
  font-weight: 400;
  padding: 14px;
}
table tr:nth-of-type(even) td {
  background-color: white;
}
table .total th {
  background-color: white;
}
table .total td {
  text-align: right;
  font-weight: 700;
}

.time_visit {
  color: red;
  font-weight: bold;
}

.show_file {
  color: blue;
}

.tBtn {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
}
.tBtn .refuse {
  background-color: #fff;
  color: red;
  border: 1px solid red;
}
.tBtn .confirm {
  background-color: #fff;
  color: #17ba92;
  border: 1px solid #17ba92;
}

.warn {
  color: red;
  font-weight: bold;
}

.Title {
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin-bottom: 15px;
}

.td_egra {
  text-align: start;
}
.td_egra p {
  color: #777;
}
.td_egra p span {
  font-size: 16px;
  color: black;
  font-weight: bold;
}

.pagination_container {
  padding: 25px;
}
.pagination_container nav {
  display: flex;
  justify-content: center;
}
.pagination_container nav ul li {
  padding: 6px;
}
.pagination_container nav ul li a {
  color: #000;
  background-color: #eee;
  padding: 11px;
  border-radius: 2px;
}

.Auth_form {
  width: 100%;
}
.Auth_form .form-control {
  border-radius: 25px;
}

.wizard_steps {
  width: 100%;
  height: 100dvh;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.wizard_steps h2 {
  white-space: nowrap;
}

.wizard_nav {
  background-color: rgba(18, 81, 98, 0.9019607843);
  padding: 10px;
}
.wizard_nav img {
  width: 150px;
}

#bar {
  width: 100%;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  text-decoration: none !important;
}

footer {
  background-color: rgba(18, 81, 98, 0.9019607843);
  padding: 15px;
  max-height: auto;
}
footer .footer_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .footer_container .logo img {
  width: 150px;
}
footer .footer_container .copyright {
  color: #fff;
}
footer .footer_container .social {
  display: flex;
  align-items: center;
  gap: 11px;
}
footer .footer_container .social i {
  font-size: 25px;
}

.header-wrapper {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.pc-container {
  min-height: calc(100dvh - 74px);
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

table {
  text-align: start;
  border-bottom: 1px solid #ecf0f1;
}

.Basic_Data_steps {
  margin-top: 10px;
  padding: 14px;
}
.Basic_Data_steps .card {
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.Basic_Data_steps .card-header {
  padding: 10px;
  border-bottom: 1px solid #d5d0d0;
}
.Basic_Data_steps .card-header .steps {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  -moz-column-count: 3;
       column-count: 3;
  justify-content: center;
  align-items: center;
  padding: 12px;
}
.Basic_Data_steps .card-header .steps .step {
  text-align: center;
}
.Basic_Data_steps .card-header .steps .step span {
  padding: 10px 16px;
  border: 1px solid var(--bs-primary);
  border-radius: 20px;
  background: #fff;
  font-size: 12px;
  display: block;
}
.Basic_Data_steps .card-header .steps .step.active span {
  background: var(--bs-primary);
  color: white;
  border: 1px solid var(--bs-primary);
}
.Basic_Data_steps .card-body {
  padding: 15px;
  min-height: 250px;
  display: flex;
  justify-items: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .Basic_Data_steps .card-body {
    padding: 15px 0;
  }
}
.Basic_Data_steps .card-body .tabs {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.Basic_Data_steps .card-body .tabs .tab {
  display: none;
  width: 100%;
}
.Basic_Data_steps .card-body .tabs .tab.active {
  display: block !important;
}
.Basic_Data_steps .card-footer {
  padding: 16px;
  border-top: 1px solid #d5d0d0;
  display: flex;
  align-items: center;
  gap: 12px;
}
.Basic_Data_steps .card-footer button {
  padding: 12px 25px;
  width: 150px;
  margin: 10px auto;
  border: none;
  border-radius: 12px;
  color: white;
  background: var(--bs-primary);
  font-size: 14px;
}
.Basic_Data_steps .card-footer button:active {
  outline: none;
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}
.Basic_Data_steps .card-footer button#prevBtn {
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
}
@media only screen and (max-width: 420px) {
  .Basic_Data_steps .card-footer button {
    width: 100%;
  }
}

.form-wizard .nav-justified {
  background-color: #eee;
  border-radius: 8px;
}
.form-wizard .nav-justified .nav-link.active {
  background-color: var(--bs-primary);
}/*# sourceMappingURL=custom.css.map */