@font-face {
  font-family: "Neo Sans Arabic";
  font-display: swap;
  src: url(../fonts/NeoSansArabic.woff);
}

:root {
  --pc-sidebar-active-color: var(--bs-primary);
  --bs-blue: #16433c;
  --bs-primary: #125162;
  --bs-primary-rgb: 18, 81, 98;
  --bs-success: #36b19cb2;
  --bs-success-rgb: 14, 146, 113;

  --bs-primary-light: #36b19cb2;
  --bs-link-color: #36b19cb2;
  --bs-link-color-rgb: 18, 81, 98;
  --bs-link-hover-color: #017c64;
  --bs-link-hover-color-rgb: to-rgb(shift-color($pc-primary, $link-shade-percentage));
  --dt-row-selected: 18, 81, 98;
  --bs-font-sans-serif: "Neo Sans Arabic", sans-serif;
}

.pc-sidebar {
  .pc-link {
    text-transform: capitalize;
  }
  .pc-micon {
    margin-right: 8px;
    i {
      font-size: 16px;
    }
  }
  .pc-arrow {
    i {
      font-size: 12px;
    }
  }
  .card.pc-user-card .pc-user-links {
    gap: 8px;

    i {
      font-size: 20px;
    }
  }
  .b-brand {
    padding: 4px;
    img {
      height: 40px;
      width: 100%;
      object-fit: contain;
    }
  }
}

.dataTableTable {
  .image {
    width: 100px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 8px;
  }
}
$i: 6;
@while $i<=80 {
  .f-#{$i} {
    font-size: #{$i}px !important;
  }
  $i: $i + 2;
}
.statusImage {
  width: 40px;
  aspect-ratio: 1;
  object-fit: contain;
}

.auth-main.v2 .auth-form .card {
  min-height: unset;
  .card-body {
    padding: 40px 24px;
  }
  .logo {
    padding: 4px;
    margin-bottom: 8px;
    img {
      height: 80px;
      object-fit: contain;
      width: 100%;
    }
  }
}
[data-pc-direction="rtl"] {
  .pc-sidebar .pc-arrow {
    transform: rotate(180deg);
  }
}
.apexcharts-canvas * {
  font-family: "Neo Sans Arabic", sans-serif !important;
}

.btn-success {
  --bs-btn-bg: #0e9271;
  --bs-btn-border-color: #0e9271;
  --bs-btn-hover-bg: #03644c;
  --bs-btn-hover-border-color: #17ba92;
  --bs-btn-focus-shadow-rgb: 63, 236, 193;
  --bs-btn-active-bg: #17ba92;
  --bs-btn-active-border-color: #16af89;
  --bs-btn-disabled-bg: #0e9271;
  --bs-btn-disabled-border-color: #0e9271;
  --pc-header-color: #39465f;
}
//
.pc-header {
}

//aboda styls

.pc-head-link {
  i {
  }
}
.card {
  background-color: #fff;
  border: none;
  box-shadow: none;
}
.bg_color {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Edit {
  color: #017c64;
  font-size: 16px;
}

.info {
  text-align: center;
}
.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Card_btn {
  width: 100%;
  background-color: #17ba92;
  color: #e2fff9;
  border: 1px solid #17ba92;
  border-radius: 8px;
  padding: 10px 25px;
}
.primary {
  background-color: var(--bs-primary);
}

//content_Vsits
.content_Vsits {
  .forms_container {
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    padding: 15px;
    margin-top: 10px;
    width: 100%;
  }
}

.page-header-title_visits {
  background-color: #cdebf9;
  padding: 8px 4px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 14px;

  h2 {
    font-size: 15px;
    padding: 0;
    margin: 0;
  }
}
.Forms {
}
form {
  display: flex;
  gap: 25px;
  // flex-wrap: wrap;
  flex-direction: column;
  // @media (max-width: 600px) {
  //   flex-wrap: wrap;
  // }
}
.form_group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  label {
    font-size: 15px;
    color: #c0bfbf;
  }
  input {
    padding: 10px 20px;
    border: 1px solid #eee;
    border-radius: 4px;
  }
}
.form_select_group {
  width: 33%;
  .form-select {
    padding: 8px;
    border: 1px solid #eee;
    color: #c0bfbf;
  }
}
.form_select {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.Form_system {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.check_group {
  .type {
    color: #777;
  }
}
.form-label {
  margin-bottom: 5px;
  color: #777;
}
.check_group_inputs {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  border-bottom: 1px solid #eee;
  padding: 15px;
}

.search_btn {
  border: 1px solid #17ba92;
  padding: 8px 18px;
  background-color: #fff;
  font-size: 12px;
  color: #17ba92;
  border-radius: 7px;
  margin: 10px;
}
.send_btn {
  background-color: rgb(215, 158, 13);
  border: 1px solid rgb(215, 158, 13);
  color: #fff;
  padding: 8px 15px;
  border-radius: 8px;
  float: left;
}
// tabel

.Tabel_container {
  padding: 25px;
  overflow-y: hidden;
}

table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;

  td,
  th {
    border-top: 1px solid #ecf0f1;
    padding: 10px;
    font-size: 14px;
  }
  .Empty_td {
    padding: 14px;
    font-size: 15px;
    font-weight: 500px;
    text-align: center;
  }

  td {
    border-left: 1px solid #ecf0f1;
    border-right: 1px solid #ecf0f1;
  }

  th {
    background-color: #cdebf9;
    font-size: 14px;
    font-weight: 400;
    padding: 14px;
  }

  tr:nth-of-type(even) td {
    background-color: lighten(#fff, 35%);
  }

  .total {
    th {
      background-color: white;
    }

    td {
      text-align: right;
      font-weight: 700;
    }
  }
}

.time_visit {
  color: red;
  font-weight: bold;
}
.show_file {
  color: blue;
}
.tBtn {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
  .refuse {
    background-color: #fff;
    color: red;
    border: 1px solid red;
  }
  .confirm {
    background-color: #fff;
    color: #17ba92;
    border: 1px solid #17ba92;
  }
}
.warn {
  color: red;
  font-weight: bold;
}
.Title {
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin-bottom: 15px;
}
.td_egra {
  text-align: start;
  p {
    color: #777;
    span {
      font-size: 16px;
      color: black;
      font-weight: bold;
    }
  }
}

// @media only screen and (max-width: 760px) {

//   p {
//     display: block;
//     font-weight: bold;
//   }

//   table {
//     tr {
//       td:not(:first-child),
//       th:not(:first-child),
//       td:not(.total-val) {
//         display: none;
//       }

//       &:nth-of-type(even) td:first-child {
//         background-color: lighten(#fff, 35%);
//       }
//       &:nth-of-type(odd) td:first-child {
//         background-color: white;
//       }

//       &:nth-of-type(even) td:not(:first-child) {
//         background-color: white;
//       }

//       th:first-child {
//         width: 100%;
//         display: block;
//       }

//       th:not(:first-child) {
//         width: 100%;
//         transition: transform 0.4s ease-out;
//         transform: translateY(-9999px);
//         position: relative;
//         z-index: -1;
//       }

//       td:not(:first-child) {
//         transition: transform 0.4s ease-out;
//         transform: translateY(-9999px);
//         width: 60%;
//         position: relative;
//         z-index: -1;
//       }

//       td:first-child {
//         display: block;
//         cursor: pointer;
//       }

//       &.total th {
//         width: 25%;
//         display: inline-block;
//       }

//       td.total-val {
//         display: inline-block;
//         transform: translateY(0);
//         width: 75%;
//       }
//     }
//   }
// }

// @media only screen and (max-width: 300px) {
//   table {
//     tr {
//       th:not(:first-child) {
//         width: 50%;
//         font-size: 14px;
//       }

//       td:not(:first-child) {
//         width: 50%;
//         font-size: 14px;
//       }
//     }
//   }
// }

//pagination

.pagination_container {
  padding: 25px;
  nav {
    display: flex;
    justify-content: center;

    ul {
      li {
        padding: 6px;
        a {
          color: #000;
          background-color: #eee;
          padding: 11px;
          border-radius: 2px;
        }
      }
    }
  }
}

///auth

.Auth_form {
  width: 100%;
  .form-control {
    border-radius: 25px;
  }
}

//wizard_steps

.wizard_steps {
  width: 100%;
  min-height: calc(100dvh - 201px);
  padding: 15px;

  margin-top: 10px;
  margin-bottom: 10px;
  // background-color: #fff;
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  // border-radius: 25px;
  .tab-pane {
    // width: 100% !important;
  }
  h2 {
    white-space: nowrap;
  }
}

.wizard_nav {
  background-color: #125162e6;
  padding: 10px;
  display: block;
  img {
    width: 150px;
  }
}

#bar {
  width: 100%;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  text-decoration: none !important;
}

footer {
  background-color: #125162e6;
  padding: 15px;
  max-height: auto;
  .footer_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .logo {
      img {
        width: 150px;
      }
    }
    .copyright {
      color: #fff;
    }
    .social {
      display: flex;
      align-items: center;
      gap: 11px;
      i {
        font-size: 25px;
      }
    }
  }
}

//header-wrapper
.header-wrapper {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.pc-container {
  min-height: calc(100dvh - 74px);
  display: flex;
  flex-direction: column;
}
footer {
  margin-top: auto;
}

table {
  text-align: start;
  border-bottom: 1px solid #ecf0f1;
}

//Basic Data Steps
.Basic_Data_steps {
  margin-top: 10px;
  padding: 14px;
  .card {
    background: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    &-header {
      padding: 10px;
      border-bottom: 1px solid #d5d0d0;

      & .steps {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        column-count: 3;
        justify-content: center;
        align-items: center;
        padding: 12px;
        & .step {
          text-align: center;
          & span {
            padding: 10px 16px;
            border: 1px solid var(--bs-primary);
            border-radius: 20px;
            background: #fff;
            font-size: 12px;
            display: block;
          }
        }

        & .step.active {
          & span {
            background: var(--bs-primary);
            color: white;
            border: 1px solid var(--bs-primary);
          }
        }
      }
    }

    &-body {
      padding: 15px;
      @media screen and (max-width: 768px) {
        padding: 15px 0;
      }
      min-height: 250px;
      display: flex;
      justify-items: center;
      align-items: center;
      & .tabs {
        width: 100%;
        height: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
        & .tab {
          display: none;
          width: 100%;
        }

        & .tab.active {
          display: block !important;
        }
      }
    }

    &-footer {
      padding: 16px;
      border-top: 1px solid #d5d0d0;
      display: flex;
      align-items: center;
      gap: 12px;
      & button {
        padding: 12px 25px;
        width: 150px;
        margin: 10px auto;
        border: none;
        border-radius: 12px;
        color: white;
        background: var(--bs-primary);
        font-size: 14px;
        &:active {
          outline: none;
          transform: translate(0px, 5px);
          -webkit-transform: translate(0px, 5px);
          box-shadow: 0px 1px 0px 0px;
        }
        &#prevBtn {
          background-color: transparent;
          color: #000;
          border: 1px solid #000;
        }
      }
    }
  }

  @media only screen and (max-width: 420px) {
    .card-footer {
      & button {
        width: 100%;
      }
    }
  }
}

.form-wizard {
  .nav-justified {
    background-color: #eee;
    border-radius: 8px;
    .nav-link.active {
      background-color: var(--bs-primary);
    }
  }
}
