@font-face {
  font-family: "fontRegular";
  font-display: swap;
  src: url(../fonts/BalooBhaijaan2-Regular.ttf);
}
[data-pc-preset=preset-1] {
  --pc-sidebar-active-color: #276fe5;
  --bs-blue: #276fe5;
  --bs-primary: #276fe5;
  --bs-primary-rgb: 39, 111, 229;
  --bs-success: #0e9271;
  --bs-success-rgb: 14, 146, 113;
  --bs-primary-light: #e2fff9;
  --bs-link-color: #276fe5;
  --bs-link-color-rgb: 39, 111, 229;
  --bs-link-hover-color: #017c64;
  --bs-link-hover-color-rgb: to-rgb(
    shift-color($pc-primary, $link-shade-percentage)
  );
  --dt-row-selected: 39, 111, 229;
  --bs-body-font-family: "fontRegular";
}

.pc-sidebar .pc-link {
  text-transform: capitalize;
}
.pc-sidebar .pc-micon {
  margin-right: 8px;
}
.pc-sidebar .pc-micon i {
  font-size: 16px;
}
.pc-sidebar .pc-arrow i {
  font-size: 12px;
}
.pc-sidebar .card.pc-user-card .pc-user-links {
  gap: 8px;
}
.pc-sidebar .card.pc-user-card .pc-user-links i {
  font-size: 20px;
}
.pc-sidebar .b-brand {
  padding: 4px;
}
.pc-sidebar .b-brand img {
  height: 40px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.dataTableTable .image {
  width: 100px;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.f-6 {
  font-size: 6px !important;
}

.f-8 {
  font-size: 8px !important;
}

.f-10 {
  font-size: 10px !important;
}

.f-12 {
  font-size: 12px !important;
}

.f-14 {
  font-size: 14px !important;
}

.f-16 {
  font-size: 16px !important;
}

.f-18 {
  font-size: 18px !important;
}

.f-20 {
  font-size: 20px !important;
}

.f-22 {
  font-size: 22px !important;
}

.f-24 {
  font-size: 24px !important;
}

.f-26 {
  font-size: 26px !important;
}

.f-28 {
  font-size: 28px !important;
}

.f-30 {
  font-size: 30px !important;
}

.f-32 {
  font-size: 32px !important;
}

.f-34 {
  font-size: 34px !important;
}

.f-36 {
  font-size: 36px !important;
}

.f-38 {
  font-size: 38px !important;
}

.f-40 {
  font-size: 40px !important;
}

.f-42 {
  font-size: 42px !important;
}

.f-44 {
  font-size: 44px !important;
}

.f-46 {
  font-size: 46px !important;
}

.f-48 {
  font-size: 48px !important;
}

.f-50 {
  font-size: 50px !important;
}

.f-52 {
  font-size: 52px !important;
}

.f-54 {
  font-size: 54px !important;
}

.f-56 {
  font-size: 56px !important;
}

.f-58 {
  font-size: 58px !important;
}

.f-60 {
  font-size: 60px !important;
}

.f-62 {
  font-size: 62px !important;
}

.f-64 {
  font-size: 64px !important;
}

.f-66 {
  font-size: 66px !important;
}

.f-68 {
  font-size: 68px !important;
}

.f-70 {
  font-size: 70px !important;
}

.f-72 {
  font-size: 72px !important;
}

.f-74 {
  font-size: 74px !important;
}

.f-76 {
  font-size: 76px !important;
}

.f-78 {
  font-size: 78px !important;
}

.f-80 {
  font-size: 80px !important;
}

.statusImage {
  width: 40px;
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
}

.auth-main.v2 .auth-form .card {
  min-height: unset;
}
.auth-main.v2 .auth-form .card .card-body {
  padding: 40px 24px;
}
.auth-main.v2 .auth-form .card .logo {
  padding: 4px;
  margin-bottom: 8px;
}
.auth-main.v2 .auth-form .card .logo img {
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

[data-pc-direction=rtl] .pc-sidebar .pc-arrow {
  transform: rotate(180deg);
}

.apexcharts-canvas * {
  font-family: "fontRegular" !important;
}

.btn-success {
  --bs-btn-bg: #0e9271;
  --bs-btn-border-color: #0e9271;
  --bs-btn-hover-bg: #03644c;
  --bs-btn-hover-border-color: #17ba92;
  --bs-btn-focus-shadow-rgb: 63, 236, 193;
  --bs-btn-active-bg: #17ba92;
  --bs-btn-active-border-color: #16af89;
  --bs-btn-disabled-bg: #0e9271;
  --bs-btn-disabled-border-color: #0e9271;
}

.card {
  background-color: #fff;
  border: none;
  box-shadow: none;
}

.bg_color {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Edit {
  color: #017c64;
  font-size: 16px;
}

.info {
  text-align: center;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Card_btn {
  width: 100%;
  background-color: #17ba92;
  color: #e2fff9;
  border: 1px solid #17ba92;
  border-radius: 8px;
  padding: 10px 25px;
}

.primary {
  background-color: #276fe5;
}

.content_Vsits {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
  padding: 15px;
}

.page-header-title_visits {
  background-color: #cdebf9;
  padding: 8px 4px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 14px;
}
.page-header-title_visits h2 {
  font-size: 15px;
  padding: 0;
  margin: 0;
}

form {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.form_group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form_group label {
  font-size: 15px;
  color: #c0bfbf;
}
.form_group input {
  padding: 10px 20px;
  border: 1px solid #eee;
  border-radius: 4px;
}

.form_select_group {
  width: 30%;
}
.form_select_group .form-select {
  padding: 8px;
  border: 1px solid #eee;
  color: #c0bfbf;
}

.form_select {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.Form_system {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.check_group_inputs {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  border-bottom: 1px solid #eee;
  padding: 15px;
}

.search_btn {
  border: 1px solid #17ba92;
  padding: 6px 15px;
  background-color: #fff;
  font-size: 12px;
  color: #17ba92;
  border-radius: 7px;
}

.Tabel_container {
  padding: 25px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  overflow: hidden;
}
table td,
table th {
  border-top: 1px solid #ecf0f1;
  padding: 10px;
  font-size: 14px;
}
table .Empty_td {
  padding: 14px;
  font-size: 15px;
  font-weight: 500px;
  text-align: center;
}
table td {
  border-left: 1px solid #ecf0f1;
  border-right: 1px solid #ecf0f1;
}
table th {
  background-color: #cdebf9;
  font-size: 14px;
  font-weight: 400;
  padding: 14px;
}
table tr:nth-of-type(even) td {
  background-color: white;
}
table .total th {
  background-color: white;
}
table .total td {
  text-align: right;
  font-weight: 700;
}

.time_visit {
  color: red;
  font-weight: bold;
}

.show_file {
  color: blue;
}

.tBtn {
  display: flex;
  align-items: center;
  gap: 5px;
}
.tBtn .refuse {
  background-color: #fff;
  color: red;
  border: 1px solid red;
}
.tBtn .confirm {
  background-color: #fff;
  color: #17ba92;
  border: 1px solid #17ba92;
}

.warn {
  color: red;
  font-weight: bold;
}

.Title {
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin-bottom: 15px;
}

.td_egra {
  text-align: start;
}
.td_egra p {
  color: #777;
}
.td_egra p span {
  font-size: 16px;
  color: black;
  font-weight: bold;
}

.mobile-header {
  display: none;
}

@media only screen and (max-width: 760px) {
  p {
    display: block;
    font-weight: bold;
  }
  table tr td:not(:first-child),
  table tr th:not(:first-child),
  table tr td:not(.total-val) {
    display: none;
  }
  table tr:nth-of-type(even) td:first-child {
    background-color: white;
  }
  table tr:nth-of-type(odd) td:first-child {
    background-color: white;
  }
  table tr:nth-of-type(even) td:not(:first-child) {
    background-color: white;
  }
  table tr th:first-child {
    width: 100%;
    display: block;
  }
  table tr th:not(:first-child) {
    width: 40%;
    transition: transform 0.4s ease-out;
    transform: translateY(-9999px);
    position: relative;
    z-index: -1;
  }
  table tr td:not(:first-child) {
    transition: transform 0.4s ease-out;
    transform: translateY(-9999px);
    width: 60%;
    position: relative;
    z-index: -1;
  }
  table tr td:first-child {
    display: block;
    cursor: pointer;
  }
  table tr.total th {
    width: 25%;
    display: inline-block;
  }
  table tr td.total-val {
    display: inline-block;
    transform: translateY(0);
    width: 75%;
  }
}
@media only screen and (max-width: 300px) {
  table tr th:not(:first-child) {
    width: 50%;
    font-size: 14px;
  }
  table tr td:not(:first-child) {
    width: 50%;
    font-size: 14px;
  }
}
.pagination .pag_container {
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.pagination .paginate {
  padding: 32px 64px;
  display: flex;
  justify-content: space-between;
  background-color: #eee;
}
.pagination .paginate-details {
  margin-top: 16px;
  font-weight: 500;
  text-align: center;
}
.pagination button {
  background-color: transparent;
  border: none;
}
.pagination .nextBtn {
  margin-left: 32px;
}
.pagination .nextBtn {
  margin-right: 32px;
}
.pagination .prevBtn,
.pagination .nextBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
.pagination .nextBtn-icon,
.pagination .prevBtn-icon {
  display: flex;
}
.pagination .prevBtn svg {
  margin-right: 6px;
}
.pagination .nextBtn svg {
  margin-left: 6px;
}
.pagination .prevBtn svg,
.pagination .nextBtn svg {
  color: #2a3b52;
}
.pagination button[disabled].prevBtn,
.pagination button[disabled].nextBtn {
  cursor: not-allowed;
  color: rgb(156 163 175/var(--tw-text-opacity));
}
.pagination .containerBtns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.pagination .leftContainer {
  display: flex;
  width: 190px;
  justify-content: end;
}
.pagination .rightContainer {
  display: flex;
  width: 190px;
  justify-content: start;
}
.pagination .activeBtn {
  margin: 0 12px;
  padding: 4px 6px;
  min-width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #777;
  font-size: 20px;
  color: #fff;
}
.pagination .numberBtn {
  cursor: pointer;
  margin: 0 4px;
  min-width: 40px;
  padding: 4px;
  font-size: 18px;
}
.pagination .numberBtn[disabled] {
  cursor: not-allowed;
}

.Auth_form {
  width: 80%;
}
.Auth_form .form-control {
  border-radius: 25px;
}

.wizard_steps {
  width: 80%;
  margin: 0 auto;
  padding: 25px;
  background-color: #fff;
  margin-top: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 25px;
}/*# sourceMappingURL=custom.css.map */